@import "../../../../../../style/colors/colors.scss";
@import "../../../../../../style/mixins/removeArrows.scss";

.currency-amount-form {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6vmax;
  @include removeArrows();

  &__chosen {
    text-transform: capitalize;
  }

  &__input {
    background: $currencies-main;
    width: 100%;
    height: 40%;
    border: none;
    border-bottom: 3px solid $currencies-supplement;

    &-font {
      font-size: 2vmax;
      color: $currencies-font;
      text-align: center;
    }
  }
}
