@import "../../../../../../style/colors";
@import "../../../../../../style/mixins/removeArrows.scss";
@import "../../../../../../style/mixins/input.scss";

.currency-amount-form {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6vmax;
  @include removeArrows();

  &__chosen {
    text-transform: capitalize;
  }

  &__input {
    @include input($currencies-main, $currencies-supplement);

    &-font {
      @include inputFont($currencies-font);
    }
  }
}
