@import "../../../../../../style/colors";
@import "../../../../../../style/mixins/removeArrows.scss";
@import "../../../../../../style/mixins/input.scss";

.gold-calculations {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2vmax;
}

.gold-calculations-form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  @include removeArrows();

  &__input {
    @include input($gold-main, $gold-supplement);

    &-font {
      @include inputFont($gold-supplement);
    }
  }
}
