@import "./move.scss";

@mixin homeMenuItem($main, $supplement, $direction) {
  background: $main;
  color: $supplement;
  font-size: 6vmax;

  a {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    @include moveProps();

    // Default position for animation
    @if $direction == right {
      justify-content: flex-end;
    } @else if $direction == left {
      justify-content: flex-start;
    }
  }

  @include move();
}
